*.iml
.gradle/
.kotlin/
/local.properties
/keystore.properties
/release/
*.jks
*.keystore
*.apk
*.aab
*.apks
*.mapping.txt
/.idea/
/.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
app/build/
